.events .demo {
}

.events .demo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events .demo ul li {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
  padding: 15px 20px;
  background: white;
}