@import '~antd/dist/antd.css';

.App-header {
  background-color: #222;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

.App .navbar {
  float: left;
  width: 200px;
}

.App .content {
  width: calc(100% - 200px);
  float: left;
  padding-top: 10px;
}
