@import '~antd/dist/antd.css';

.App-header {
  background-color: rgb(45, 45, 45);
  padding: 20px;
}

.App-header .header-wrapper {
  width: 900px;
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
  color: rgb(169, 183, 198);
  margin-left: 20px;
}

.App-intro {
  font-size: large;
}

.App .main {
  width: 900px;
  margin: 0 auto;
}

.App .main:after {
  content:""; 
  display: block; 
  clear:both; 
}

.App .navbar {
  float: left;
  width: 200px;
}

.App .content {
  width: calc(100% - 200px);
  float: left;
  padding-top: 10px;
}
